body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('9.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}

button {
    background-color: #b38481;
    color: white;
    border: none;
    cursor: pointer;
}